
<style>
  .table-wrapper {
          background: #fff;
          padding: 20px 25px;
          margin: 30px 0;
      border-radius: 3px;
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }
    .table-title {        
      padding-bottom: 15px;
      background: #435d7d;
      color: #fff;
      padding: 16px 30px;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
      }
      .table-title h2 {
      margin: 5px 0 0;
      font-size: 24px;
    }
    .table-title .btn-group {
      float: right;
    }
    .table-title .btn {
      color: #fff;
      float: right;
      font-size: 13px;
      border: none;
      min-width: 50px;
      border-radius: 2px;
      border: none;
      outline: none !important;
      margin-left: 10px;
    }
    .table-title .btn i {
      float: left;
      font-size: 21px;
      margin-right: 5px;
    }
    .table-title .btn span {
      float: left;
      margin-top: 2px;
    }
      table.table tr th, table.table tr td {
          border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
      }
    table.table tr th:first-child {
      width: 60px;
    }
    table.table tr th:last-child {
      width: 100px;
    }
      table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
      table.table th i {
          font-size: 13px;
          margin: 0 5px;
          cursor: pointer;
      }	
      table.table td:last-child i {
      opacity: 0.9;
      font-size: 22px;
          margin: 0 5px;
      }
    table.table td a {
      font-weight: bold;
      color: #566787;
      display: inline-block;
      text-decoration: none;
      outline: none !important;
    }
    table.table td a:hover {
      color: #2196F3;
    }
    table.table td a.edit {
          color: #FFC107;
      }
      table.table td a.delete {
          color: #F44336;
      }
      table.table td i {
          font-size: 19px;
      }
    table.table .avatar {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.1.4/sweetalert2.min.css">  

{%extends 'master.html'%}

{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;font-family: forte;">GESTION DES UTILISATEURS</h5>
    
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                      
                      <li class="breadcrumb-item active">Utilisateurs</li>
                    </ol>
                  </nav>
                </div>
              </div>

        </div>
        <div class="col-md-12">
          <div class="card">
          <div class="card-body">
        <div class="container">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h5 style="font-weight: bold;font-family: forte;">Liste Des Utilisateurs </h5>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#largeModal"><i class="bi bi-plus-circle-dotted"></i> <span>Ajouter</span></a>
                    <a class="btn btn-danger"><i class="bi bi-dash-circle-dotted"></i> <span>supprimer</span></a>
                  </div>
                </div>
              </div>
            
              <div class="modal fade" id="largeModal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">ENREGISTREZ UN UTILISATEUR</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card mb-3">

                        <div class="card-body">
        
                          <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Creez Un  Compte Utilisateur</h5>
                            <p class="text-center small">Entrez Les Detatils Personnels De L'utilisateur</p>
                          </div>
        
                          <form class="row g-3" method="POST" action="/add_user/" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="floatingName" placeholder="Your Name" name="nom">
                                <label for="floatingName">Nom</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="floatingCity" placeholder="Prenom" name="prenom">
                                  <label for="floatingCity">Prenom</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="email" class="form-control" id="floatingEmail" placeholder=" Email" name="email">
                                <label for="floatingEmail"> Email</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="Matricule" class="form-control" id="floatingEmail" placeholder=" Matricule" name="matricule">
                                <label for="floatingEmail"> Matricule</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="Grade" class="form-control" id="floatingEmail" placeholder=" Grade" name="grade">
                                <label for="floatingEmail"> Grade</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                <label for="floatingPassword">Password</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Re-password" name="re_password">
                           
                                <label for="floatingTextarea">Re-Password</label>
                              </div>
                            </div>
                           
                            <div class="col-md-6">
                              <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="State" name="sexe">
                                  <option selected="">Selectionnez Le Sexe</option>
                                  <option value="1">Masculin</option>
                                  <option value="2">Feminin</option>
                                </select>
                                <label for="floatingSelect">Sexe</label>
                              </div>
                            </div>
                        
                            <div class="col-md-6">
                             
                                <div class="form-floating">
                                  <input type="tel" class="form-control" id="floatingCity" placeholder="Telephone" name="telephone">
                                  <label for="floatingCity">Telephone</label>
                                </div>
                              </div>

                              <div class="col-md-6">
                             
                                <div class="form-floating">
                                  <input type="file" class="form-control" id="floatingCity" placeholder="Photos" name="photos">
                                  <label for="floatingCity">Photo</label>
                                </div>
                             

                            </div>
                           </div>
                        </div>
                      </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                  </form>
        
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover table-responsive text-center" id="myTable">
                <thead>
                  <tr>
                    <th>
                      <span class="custom-checkbox">
                                        Photos
                                      </span>
                    </th>
               
                    <th style="width: 25%;">Nom</th>
                    <th style="width: 25%;">Email</th>
                    <th style="width: 25%;">Telephone</th>
                    <th style="width: 25%;">Matricule</th>
                    <th style="width: 25%;">Grade</th>
                    <th style="width: 25%;">Actions</th>
                  </tr>
                </thead>
                <tbody>
               {%for user in users%}
                  <tr>
                    <td>
                      <span class="custom-checkbox">
                                            </span>
                    </td>
                  
                   
                    <td>{{user.nom}}</td>
                    
                    <td>{{user.email}}</td>
                    
                    <td>
                    {{user.telephone}}
                    </td>
                    <td>
                      {{user.matricule}}
                      </td>
                      <td>
                        {{user.grade}}
                        </td>
                   <td>
                    <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit"></i></a>
       
                   </td>
                  </tr>
                {%endfor%}
                </tbody>
              </table>
              
            </div>
          </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'success' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "success",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 2000
});
</script>
{%endif%}
{%endfor%}
</script>
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'error' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "error",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}

{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'info' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "info",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}
{%endblock%}