
<style>
    .table-wrapper {
            background: #fff;
            padding: 20px 25px;
            margin: 30px 0;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {        
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }
        .table-title .btn-group {
            float: right;
        }
        .table-title .btn {
            color: #fff;
            float: right;
            font-size: 13px;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }
        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }
        .table-title .btn span {
            float: left;
            margin-top: 2px;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }
        table.table tr th:first-child {
            width: 60px;
        }
        table.table tr th:last-child {
            width: 100px;
        }
        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }
        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }	
        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }
        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
            outline: none !important;
        }
        table.table td a:hover {
            color: #2196F3;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #F44336;
        }
        table.table td i {
            font-size: 19px;
        }
        table.table .avatar {
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.1.4/sweetalert2.min.css">  

      <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> 
{%extends 'master.html'%}


{%block content%}
<div class="col-md-12">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;font-family: forte;">GESTION DES OPERATIONS</h5>

        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            
            <li class="breadcrumb-item active">Operations</li>
          </ol>
        </nav>
      </div>

<div class="card">
  <div class="card-body">

    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4 style="font-weight: bold;">Liste Des Operations </h4>
          </div>
          <div class="col-sm-6">
            <a data-bs-toggle="modal" data-bs-target="#largeModal" class="btn btn-success"><i class="bi bi-plus-circle-dotted"></i> <span>Ajouter</span></a>
            <a href="" class="btn btn-danger"><i class="bi bi-dash-circle-dotted"></i> <span>supprimer</span></a>
        
          </div>
          
        </div>
      </div>
      <div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">AJOUTER DES OPERATIONS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
           .
           <div class="card">
            <div class="card-body">
              <h5 class="card-title">Creer Une Nouvelle Operation </h5>

              <!-- No Labels Form -->
              <form class="row g-3" method="POST" action="/add_operation/">
                {%csrf_token%}
                <div class="col-md-12">
                  <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Nom Operation" name="nom">
                    <label for="floatingPassword">Nom Operation</label>
                  </div>
                </div>
                <hr class="p-2" style="background: #360033;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                ">
                <div class="col-md-6">
                  <label for="programme">Sous-Programme</label>
                  <select class="form-control" name="sousprogramme" id="sousprogramme">
                   <option value="">selectionnez Un sous Programme</option>
                    {%for sousprogrammes in sousprogramme%}
                    <option value="{{sousprogrammes.id}}">{{sousprogrammes.nom}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="Activite">Activite</label>
                  <select class="form-control activite" name="activite" id="activite" >
               
                  </select>
                </div>
                <div class="col-6">
                  <label for="Tache">Tache</label>
                  <select class="form-control" id="tache" name="tache">
                    <option value="">Selectionnez La tache</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="structure"> Structure</label>
                  <select class="form-control" id="structure" name="structure">
                    <option value="">Selectionnez La Structure</option>
                    {%for structures in structure%}
                    <option value="{{structures.id}}">{{structures.nom}}</option>
                    {%endfor%}
              
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="type financement">Type Financement</label>
                  <select  class="form-select" name="typefinancement" id="type_financement">
                    <option selected="">Selectionnez Le Type De Financement</option>
                    {%for type_financements in typefinancement%}
                    <option value="{{type_financements.id}}">{{type_financements.nom}}</option>
                    {%endfor%}
                  </select>
                </div>
              
                <div class="col-md-6">
                  <label for="type financement">Source Financement</label>
                  <select id="source_financement" class="form-select" name="sourcefinancement[]" multiple>
                    <option>Selectionnez Le Source De Financement</option>
                    {%for source_financements in sourcefinancement%}
                    <option value="{{source_financements.id}}">{{source_financements.nom}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="type financement">Risque</label>
                  <select id="risque" class="form-select" name="risque">
                    <option selected="">Selectionnez Le Risque</option>
                    {%for risques in risque%}
                    <option value="{{risques.id}}">{{risques.nom}}</option>
                    {%endfor%}
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="indicateur">Indicateur</label>
                  <input type="text" class="form-control" name="indicateur">
                </div>
                <div class="col-md-6">
                  <label for="resultat">Resultat Attendue</label>
                  <input type="text" class="form-control" name="resultat">
                </div>
                <div class="col-md-6">
                  <label for="annee">Ann&eacute;e</label>
                  <select class="form-control" name="annee" id="annee">
                    {%for annees in annee%}
                    <option value="{{annees.id}}">{{annees.nom}}</option>
                    {%endfor%}
                  </select>
                </div>
            </div>
          </div>
            
          
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-hand-thumbs-down-fill"></i> Close</button>
              <button type="submit" class="btn btn-primary">&nbsp;<i class='bi bi-hand-thumbs-up-fill'></i> Enregistrer</button>
            </div>
          </div>
        </form>
        </div>
      </div>
   
      <table class="table table-hover table-responsive text-center datatable">
        <thead>
          <tr>
         
       
            <th style="width: 25%;">Nom Operations</th>
            <!-- <th>Sous-Programme</th> -->
            <!-- <th>Activite</th>
            <th>Taches</th>
            <th>Structures</th> -->
            <!-- <th>Type Financement</th>
            <th>Sources Financement</th> -->
            <!-- <th>Type De Financement</th> -->
            <th style="width: 25%;">Indicateurs</th>
            <th style="width: 25%;">Annee Exercice</th>
            <!-- <th>Libelle Objectif</th>
            <th>Libelle Indicateur</th> -->
           
            <th style="width: 25%;">Actions</th>
          </tr>
        </thead>
        <tbody>
      
          {%for operations in operation%}
          <tr>
          
            
          <td> <a href="/operation_paragraphe/{{operations.id}}/">{{operations.nom}}   </a></td>
           
            <!-- <td>{{operations.idsousprogramme}}</td> -->

            <!-- <td>{{operations.idactivite}}</td>

            <td>{{operations.idtache}}</td> -->
            <!-- <td>{{operations.idtypefinancement}}</td> -->
            
            <td>{{operations.indicateurspoursuivis}}</td>
            
            <td>{{operations.idannee.nom}}</td>
            <td>
              <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="bi bi-pencil-square" data-toggle="tooltip" title="Edit"></i></a>
              <a href="/delete_operation/{{operations.id}}/" class="delete" ><i class="bi bi-archive" data-toggle="tooltip" title="Delete"></i></a>
              <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#largeModal{{operations.id}}"><i class="bi bi-eye"></i></button>
            </td>
          </tr>
   
          <div class="modal fade" id="largeModal{{operations.id}}" tabindex="-1" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="font-weight: bold;font-family: forte;">ASSOCIEZ UN PARAGRAPHE A L'OPERATION {{operations.nom}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title" style="font-weight: bold;font-family: forte;">Informations Sur L'operation {{operations.nom}}</h5>
                                  
                                  <p>SOUS-PROGRAMME: <b>{{operations.idsousprogramme}}</b></p>
                                  <p>TYPE DE FINANCEMENT: <b>{{operations.idtypefinancement}}</b></p>
                                  <p>SOURCES DE FINANCEMENT: <b>
                    
                                    {%for operation_source_financements in operations.idsourcefinancement.all%}
                                    {{ operation_source_financements.nom }}{% if not forloop.last %}, {% endif %}
                                    {%endfor%}
                                  </b></p>
                                  <p>LIBELLE OBJECTIF: <b>{{operations.indicateurspoursuivis}}</b></p>
                                  <p>RESULTATS INDICATEURS: <b>{{operations.indicateurresult}}</b></p>
                                  <p>TACHE: <b>{{operations.idtache}}</b></p>
                                  <p>RISQUE: <b>{{operations.idrisque}}</b></p>
                                  <p style="font-weight: bold;" class="text-primary">MONTANT GLOBAL ENGAGE POUR L'OPERATION {{operations.nom}}</p>
                                  <hr class="bg-dark p-2"/>
                                  <!-- <table class="table table-hover table-responsive">
                                        <thead>
                                          <tr>
                                       
                                            <th scope="col">Paragraphes</th>
                                            <th scope="col">Annee</th>
                                            <th scope="col">Montant</th>
                                          
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {%for operation_paragraphe in operation_p%}
                                          {%if operation_paragraphe.idoperation_id == operations.id%}
                                          <tr>
                                           
                                            <td>{{operation_paragraphe.idparagraphe.nom}}</td>
                                            <td>{{operation_paragraphe.idannee.nom}}</td>
                                            <td>{{operation_paragraphe.montant}}</td>
                                           
                                          </tr>
                                         
                                     {%endif%}
                                     {%endfor%}
                                        </tbody>
                                      </table> -->
                                </div>
                              </div>
                        </div>
                    
                    </div>
                    </div>
                    
                      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      
                </div>

              </div>
            </div>
          </div>
      {%endfor%}
        </tbody>
      </table>
      
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>  
<script>  
    $(document).ready(function() {  
        $('#myTable').DataTable();  
    });  
    new TomSelect("#sousprogramme",{
	persist: false,
	createOnBlur: true,
	create: true
});




new TomSelect("#structure",{
	persist: false,
	createOnBlur: true,
	create: true
});
</script>  
<script>
  new TomSelect("#paragraphe",{
	persist: false,
	createOnBlur: true,
	create: true
});
</script>
<script>
  new TomSelect("#risque",{
	persist: false,
	createOnBlur: true,
	create: true
});
</script>
<script>
  new TomSelect("#type_financement",{
	persist: false,
	createOnBlur: true,
	create: true
});

</script>
<script>
  new TomSelect("#source_financement",{
	persist: false,
	createOnBlur: true,
	create: true
});
</script>
{% for message in messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 {% if message.tags == 'success' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "success",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 2000
});
</script>
{%endif%}
{%endfor%}
</script>
{% for message in messages %}

 {% if message.tags == 'error' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "error",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}

{% for message in messages %}

 {% if message.tags == 'info' %}

<script type="text/javascript">
 Swal.fire({
 position: "top-end",
 icon: "info",
 title: "{{message}}",
 showConfirmButton: false,
 timer: 5000
});
</script>
{%endif%}
{%endfor%}

<script>
  $(document).ready(function() {
    $('#sousprogramme').on('change', function() {
        var selectedId = $(this).val();
    
        $.ajax({
            url: '/search_activite/',
            method: 'GET',
            data: { id: selectedId },
            success: function(data) {
                var selectInformations = $('.activite');
                console.log('Données récupérées:', data); // Afficher les données dans la console
                selectInformations.empty(); // Effacer les anciennes options
                
                // Ajouter une option par défaut
                selectInformations.append($('<option>', {
                    value: '',
                    text: 'Sélectionnez une activité'
                }));

                // Ajouter les nouvelles options
                data.forEach(function(activite) {
                    selectInformations.append($('<option>', {
                        value: activite.id,
                        text: activite.nom
                    }));
                });
            },
            error: function(xhr, status, error) {
                console.error('Une erreur s\'est produite lors de la requête AJAX :', status, error);
            }
        });
    });
});

</script>




<script>
  $(document).ready(function() {
    $('#activite').on('change', function() {
        var selectedId = $(this).val();
    
        $.ajax({
            url: '/search_tache/',
            method: 'GET',
            data: { id: selectedId },
            success: function(data) {
                var selectInformations = $('#tache');
                console.log('Données récupérées:', data); // Afficher les données dans la console
                selectInformations.empty(); // Effacer les anciennes options
                
                // Ajouter une option par défaut
                selectInformations.append($('<option>', {
                    value: '',
                    text: 'Sélectionnez une activité'
                }));

                // Ajouter les nouvelles options
                data.forEach(function(tache) {
                    selectInformations.append($('<option>', {
                        value: tache.id,
                        text: tache.nom
                    }));
                });
            },
            error: function(xhr, status, error) {
                console.error('Une erreur s\'est produite lors de la requête AJAX :', status, error);
            }
        });
    });
});

</script>

{%endblock%}