<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.1.4/sweetalert2.min.css">  

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

{%extends 'master.html'%}

{%block content%}
<div class="col-md-12">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold;font-family: forte;">GESTION DES OPERATIONS</h5>

        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            
            <li class="breadcrumb-item active">Operations</li>
          </ol>
        </nav>
      </div>

     
      
        <h5 style="font-weight: bold; font-family: forte;" class="mx-2">Montant Global De L'operation <b class="text-primary" style="font-weight: bold;">{{operation.nom}}  Pour L'ann&eacute;e {{operation.idannee.nom}}:</b> 
{{montant_total}} Fcfa
        </h5>
     
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-weight:bold">Associez Des Paragraphes A L'operation: {{operation.nom}}</h5>
          
          <form class="row g-3" method="POST" action="/paragraphes_operations/">

            {%csrf_token%}
           <input type="text" value="{{operation.id}}" name="operation" style="display: none;">
            <div class="col-md-4">
              <div class="form-floating">
                <select class="form-control" name="paragraphe" id="paragraphe"> 
                    <option></option>
                    {%for paragraphes in paragraphe%}
                    <option value="{{paragraphes.id}}">{{paragraphes.nom}}</option>
                    {%endfor%}
                </select>
                <label for="floatingEmail"> Selectionnez Un Paragraphes</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                  <select name="annee" id="annee" class="form-control">
                    <option></option>
                    {%for annees in annee%}
                    <option value="{{annees.id}}">{{annees.nom}}</option>
                    {%endfor%}
                  </select>
                <label for="floatingPassword">Etablissez Une Annee</label>
              </div>
            </div>
         
            <div class="col-md-4">
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="number" class="form-control" id="montant" placeholder="Montant" name="montant"step="0.01">
                  <label for="floatingCity">Associez Un Montant Aux Paragraphe</label>
                </div>
              </div>
            </div>
          
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
              
            </div>
           
          </form>
        <hr class="p-2 bg-dark">
          <table class="table table-striped table-responsive datatable">
            <thead>
              <tr>
         
                <th scope="col">Paragraphe</th>
                <th scope="col">Annee</th>
                <th scope="col">Montant Initial</th>
                <th scope="col">Montant Engag&eacute;</th>
                <th scope="col">Montant Valid&eacute;</th>
                <th scope="col">Montant Liquid&eacute;</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              
          {%for operation_details in operation_detail%}
          
          {%if operation.id == operation_details.idoperation_id%}
            <tr>
                <td>{{operation_details.idparagraphe.nom}}</td>
                <td>{{operation_details.idannee}}</td>
                <td>{{operation_details.montant}}</td>
                <td></td>
                <td></td>
                <td></td>
          
                <td>
                <a href="/delete_paragraphe_operation/{{operation_details.id}}/" class="delete btn btn-danger" ><i class="bi bi-trash" data-toggle="tooltip" title="Delete"></i></a>
                <a  class="delete btn btn-primary"data-bs-toggle="modal" data-bs-target="#largeModal{{operation_details.id}}" ><i class="bi bi-pencil-square" data-toggle="tooltip" title="edit"></i></a>
              



               
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {%endif%}
            <div class="modal fade" id="largeModal{{operation_details.id}}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Mise A Jour Des Paragraphes {{operation_details.idparagraphe.nom}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3" method="POST" action="/edit_details_operations/{{operation_details.id}}/">

                      {%csrf_token%}
                     <input type="text" value="{{operation.id}}" name="operation" style="display: none;">
                      <div class="col-md-12">
                        <div class="form-floating mb-2">
                          <select class="form-control" name="paragraphe" id="paragraphe"> 
                              <option></option>
                              {%for paragraphes in paragraphe%}
                              {%if operation_details.idparagraphe_id == paragraphes.id%}
                              <option value="{{paragraphes.id}}" selected>{{paragraphes.nom}}</option>
                              {%else%}
                              <option value="{{paragraphes.id}}" >{{paragraphes.nom}}</option>
                          
                              {%endif%}
                              {%endfor%}
                          </select>
                          <label for="floatingEmail"> Selectionnez Un Paragraphes</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-floating mb-2">
                            <select name="annee" id="annee" class="form-control">
                              <option></option>
                              {%for annees in annee%}
                              {%if operation_details.idannee_id == annees.id%}
                              <option value="{{annees.id}}" selected>{{annees.nom}}</option>
                              {%else%}
                              <option value="{{annees.id}}" >{{annees.nom}}</option>
                              {%endif%}
                              {%endfor%}
                            </select>
                          <label for="floatingPassword">Etablissez Une Annee</label>
                        </div>
                      </div>
                   
                      <div class="col-md-12">
                     
                          <div class="form-floating mb-2">
                            <input type="number" class="form-control" id="montant" placeholder="Montant" name="montant"step="0.01" value="{{operation_details.montant}}">
                            <label for="floatingCity">Montant  Paragraphe</label>
                        
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">MISE A JOUR</button>
                  </div>
                </form>
                  </div>
                  </div>
                  </div>
              
               {%endfor%}
            
            </tbody>
          </table>
        
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        new TomSelect("#annee",{
        persist: false,
        createOnBlur: true,
        create: true
      });
      </script>
      <script>
        new TomSelect("#paragraphe",{
        persist: false,
        createOnBlur: true,
        create: true
      });
      </script>
      {% for message in messages %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       {% if message.tags == 'success' %}
      
      <script type="text/javascript">
       Swal.fire({
       position: "top-end",
       icon: "success",
       title: "{{message}}",
       showConfirmButton: false,
       timer: 2000
      });
      </script>
      {%endif%}
      {%endfor%}
      </script>
      {% for message in messages %}
      
       {% if message.tags == 'error' %}
      
      <script type="text/javascript">
       Swal.fire({
       position: "top-end",
       icon: "error",
       title: "{{message}}",
       showConfirmButton: false,
       timer: 5000
      });
      </script>
      {%endif%}
      {%endfor%}

{%endblock%}