{%extends 'master.html'%}

{%block contenu%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
            <div class="jumbotron my-5">
  <h1 class="display-4">Modification des employés</h1>
  
  <form class="my-5" method="post" action="/update_form/{{institution.id}}">
{%csrf_token%}
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" name="fullname" value="{{ institution.nom }}"/>
    <label class="form-label" for="form4Example1">nom</label>
  </div>
 <div class="form-outline mb-4">
    <input type="text" id="prenom" class="form-control" name="emp_code" value="{{ institution.prenom }}"/>
    <label class="form-label" for="prenom">prenom</label>
  </div>
   
  <!-- Email input -->
  <div class="form-outline mb-4">

      <textarea class="form-control" name="message">{{institution.message}}</textarea>
 
 
  </div>

  



  
    <hr class="my-4">

     <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>

      </form>
</div></div>
        </div>
    </div>
{%endblock%}